 <div class="main-container" id="demo">
  <div class="row">
    {{!-- <h1>{{test}}</h1> --}}
    <a href="/{{system}}/{{game1}}">
      <image class="img" id="{{game1}}" src="/images/{{game1}}.png" height="{{height}}px" width="{{width}}px"></image>
    </a>
    <a href="/{{system}}/{{game2}}">
      <image class="img" id="{{game2}}" src="/images/{{game2}}.png" height="{{height}}px" width="{{width}}px"></image>
    </a>
    <a href="/{{system}}/{{game3}}">
      <image class="img" id="{{game3}}" src="/images/{{game3}}.png" height="{{height}}px" width="{{width}}px"></image>
    </a>
  </div>
  <div class="row">
    <a href="/{{system}}/{{game4}}">
      <image class="img" id="{{game4}}" src="/images/{{game4}}.png" height="{{height}}px" width="{{width}}px"></image>
    </a>
    <a href="/{{system}}/{{game5}}">
      <image class="img" id="{{game5}}" src="/images/{{game5}}.png" height="{{height}}px" width="{{width}}px"></image>
    </a>
    <a href="/{{system}}/{{game6}}">
      <image class="img" id="{{game6}}" src="/images/{{game6}}.png" height="{{height}}px" width="{{width}}px"></image>
    </a>
  </div>
</div>